.metadata
code/mlmq/target/classes/META-INF/
*.class
*.aux
*.nav
*.log
*.snm
*.synctex.gz
*.toc
*eps-converted-to.pdf
unittestconfig.properties
code/mlmq/target/
brokercommando.txt
code/mlmq/resource/brokerconfig.properties
code/mlmq/resource/clientconfig.properties
commando.txt
matlab/tmp
doc/milestone1/milestone1.bbl
*.blg
doc/milestone1/milestone1.pdf
